  p,
  h1,
  h2,
  ul,
  body{
      padding:0;
      margin:0;
  }
  body{
      padding:20px;/*pulls content of body INWARDS*/
      font-family: "Open Sans", sans-serif;
      background-color: #f9fafc;
  }

  .heading-one{
    font-size: 16px;
  }
  .company{
    color: #000;
    text-decoration: none;
  }
  .list {
    list-style: none;
    /*got rid of bullet points*/
    margin-top: 10px;
    /*controls whitespace between words/links*/
  }
  .actual_links{
    text-decoration: none;
    /* removes underline links, 
    use this when you're in actual a href class */
    color: #69696a;
  }
  .mobile-button-link {
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
    /*gets rid of pointy borders of padding, rounds it out*/
    text-align: center;
    color: #fff;
    display: block;
    /* takes padding of button and extends it all the way across the screen */
  }
  .main-content {
    margin: 35px 0;
  }
  .about-title {
    color: #000;
    font-size: 32px;
  }
  .latin-text {
    border-left: 3px solid #69696a;
    /* border-left: 3px solid #69696a; creates line on the left */
    padding-left: 15px;
    /* pushes out padding of latin words out to the right and makes it 
   look formatted better */
   color: #69696a;
   margin-top: 20px;
   /* makes distance away from margins of "chirpus inc." and "scroll down' button */
  }
    
 
    
   



